<section>

  <div class="row">
    <div class="col-md-5">
<form [formGroup]="formAuto">
      <div class="form-group">
        <input formControlName="from" placement="bottom" ngbTooltip="Delivery from" auto-complete type="text" id="from" (valueChanged)="Next()"  (keyup)="From($event)" [(ngModel)]="from" [source]="sourceFrom" class="form-control form-control-sm"  placeholder="From">
      </div>

      <div class="form-group">
        <input formControlName="to" placement="bottom" ngbTooltip="Delivery to" id="to" auto-complete type="text" (valueChanged)="Next()"  (keyup)="From($event)" [(ngModel)]="to" [source]="sourceFrom" class="form-control form-control-sm" type="text" placeholder="To">
      </div>
</form>
      <div *ngIf="status">
              Continue
      </div>
   </div>
    </div>


  <div class="row">
    <div class="col-md-3">
  <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Status</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Active</button>
        <button class="dropdown-item">Delivered</button>
        <button class="dropdown-item">History</button>
      </div>
  </div>

    </div>
    <div class="col-md-6">
      <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="3"  [minZoom]="10" [disableDefaultUI]="false" >
      </agm-map>
    </div>
  </div>
</section>
