<section class="clearfix align-middle ">
<ng-template #content let-c="close" let-d="dismiss">
<app-modal (onClose)="onClose($event)"></app-modal>
</ng-template>
   <div class="jumbotron">
  <h1 class="display-4">Join now!</h1>
  <div class="row">
  <div class="col-sm-4">
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top img-thumbnail"  src="/assets/images/customer100x200.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Customer Account</h5>
      <p class="card-text">Send your cargo now  </p>

       <a  class="btn btn-primary text-light" (click)="open(content)">Join</a>
    </div>
  </div>
  </div>
  </div>
 <div class="col-sm-4">
  <div class="card">
    <img class="card-img-top img-thumbnail" src="/assets/images/delivery.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Delivery Account</h5>

      <p class="card-text"><small class="text-muted">Help peoples get money</small></p>
       <a  class="btn btn-primary text-light" (click)="open(content)">Join</a>
    </div>
  </div>
 </div>
  </div>
  <hr class="my-5">
     <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>



</section>



